AWS_ACCESS_KEY_ID={{ fil_one_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ fil_one_secret_access_key | quote }}
AWS_DEFAULT_REGION=eu-west-1
AWS_S3_ADDRESSING_STYLE=path
RESTIC_PASSWORD={{ restic_password | quote }}
RESTIC_REPOSITORY=s3:{{ fil_one_endpoint }}/{{ fil_one_bucket }}/production/cluster-state
